.frame {
  background-color: var(--colors-grays-black);
  width: 100%;
  min-width: 1152px;
  min-height: 639px;
  position: relative;
}

.frame .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1152px;
  height: 135px;
  background-color: var(--colors-grays-black);
  border: 1px solid;
  border-color: #000000;
}

.frame .text-wrapper {
  position: absolute;
  top: 53px;
  left: 225px;
  width: 149px;
  font-family: "Rubik Bubbles-Regular", Helvetica;
  font-weight: 400;
  color: var(--colors-grays-white);
  font-size: 32px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div {
  position: absolute;
  top: 61px;
  left: 906px;
  font-family: "Rubik Bubbles-Regular", Helvetica;
  font-weight: 400;
  color: var(--colors-grays-white);
  font-size: 32px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 306px;
  left: 439px;
  font-family: "Sigmar One-Regular", Helvetica;
  font-weight: 400;
  color: var(--colors-grays-white);
  font-size: 36px;
  text-align: right;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 53px;
  left: 579px;
  font-family: "Rubik Bubbles-Regular", Helvetica;
  font-weight: 400;
  color: var(--colors-grays-white);
  font-size: 32px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .cropped-circle-image {
  position: absolute;
  top: 266px;
  left: 93px;
  width: 264px;
  height: 264px;
  aspect-ratio: 1;
  object-fit: cover;
}

.frame .p {
  position: absolute;
  top: 377px;
  left: 451px;
  width: 508px;
  font-family: "Sigmar One-Regular", Helvetica;
  font-weight: 400;
  color: var(--colors-grays-gray);
  font-size: 36px;
  letter-spacing: 0;
  line-height: 40px;
}